/day3/CoinToss/nbproject/private/
/day3/CoinToss/build/
/day3/JavaApplication4/nbproject/private/
/day4/GuessTheNumber/nbproject/private/
/day4/GuessTheNumber/build/
/day5/LoopPractice/nbproject/private/
/day5/LoopPractice/build/